@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: beige">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Movie app holds a database of Church movies that can be searched, sorted and edited.</p>
        <p><a href="~/Movies/Index">To the movie index</a>.</p>
    </div>
</body>

